%table.records
  %thead
    %tr
      %th= resource_humanize(:select)
      %th= resource_humanize(:vendor)
      %th= resource_humanize(:discount_code)
      %th= resource_humanize(:discount_percentage)
      %th= resource_humanize(:sales_info)
      %th= e9_t(:actions)
  %tbody
  - if collection.empty?
    %tr
      %td{:colspan => 6}= e9_t(:no_records_text)
  - else
    - collection.each do |record|
      = render 'table_row', :record => record
