= form_for resource do |f|
  = resource_error_messages!
  .field
    = f.label :name, nil, :class => :req
    = f.text_field :name
  .field
    = f.label :nickname
    = f.text_field :nickname
  %fieldset.checkbox
    %legend
      = f.label :vendor_category_id, resource_class.human_attribute_name(:vendor_category), :class => :req
    - unless VendorCategory.count.zero?
      %ul
        - VendorCategory.order(:name).each do |vc|
          %li.checkbox
            = check_box_tag 'vendor[vendor_category_ids][]', vc.id, resource.vendor_category_ids.member?(vc.id), :id => "vendor_category_#{vc.id}"
            = label_tag "vendor_category_#{vc.id}", vc.name
    - else
      No categories exist yet.
      = link_to("Create one?", new_vendor_category_path)

  .field
    = upload_mount_field(resource.logo, :reset_path => true, :required => true)

  %fieldset
    %legend= e9_t(:widget_settings_legend)
    .field
      = f.label :sales_email, nil, :class => :req
      = f.text_field :sales_email
    .field
      = f.label :sales_full_name
      = f.text_field :sales_full_name
    .field
      = f.label :sales_title
      = f.text_field :sales_title
    .field
      = f.label :sales_phone
      = f.text_field :sales_phone
    .field
      = help_label(f, :short_description, :key => :interpolation_instructions)
      = f.text_area :short_description
    .field
      = help_label(f, :long_description, :key => :interpolation_instructions)
      = f.text_area :long_description
    .field
      = f.label :landing_page, nil, :class => :req
      = f.text_area :landing_page

  .actions
    = f.submit
